.list-container {
    max-width: 750px;
    margin: 0 auto;
}

.list-container__doctor {
    width: 100%;
    max-height: 300px;
    min-height: 200px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px gray;
    padding-bottom: 75px;
    margin-bottom: 26.6px;
}


.list-container__header-container {
    display: flex;    
    align-items: center;
    padding: 20px 20px 0px 20px;

}

.list-container__doctor-name {
    font-weight: 800;
    color: var(--color-text);
    margin: 0px auto 0px 0px;
}

.list-container__btn {
    font-size: 12px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    color: var(--color-primary);
    background-color: white;
    cursor: pointer;
}

.list-container__header-container :last-child {
    margin-left: 10px;
}

.list-container__ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    padding: 0px 12px;
}

.list-container__ul li {
    padding: 5px 14.5px;
    margin: 6.5px;
    width: auto;
    border-radius: 5px;
    color: white;
    background-color: var(--color-primary);
    font-size: 14px;
    font-weight: bold;
}

@media (min-width: 800px) {
    .list-container__ul li {
        width: 139px;
    }
    .list-container__ul {
       justify-content: flex-start;
    }
}