<div class="list-container">
    <div class="list-container__doctor">
        <div class="list-container__header-container">
            <h2 class="list-container__doctor-name">Dr. João Augusto de Alcântra</h2>
            <button class="list-container__btn">Editar cadastro</button>
            <button class="list-container__btn">Configurar horários</button>
        </div>
        <ul class="list-container__ul">
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
        </ul>
    </div>
    <div class="list-container__doctor">
        <div class="list-container__header-container">
            <h2 class="list-container__doctor-name">Dr. João Augusto de Alcântra</h2>
            <button class="list-container__btn">Editar cadastro</button>
            <button class="list-container__btn">Configurar horários</button>
        </div>
        <ul class="list-container__ul">
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
        </ul>
    </div>
    <div class="list-container__doctor">
        <div class="list-container__header-container">
            <h2 class="list-container__doctor-name">Dr. João Augusto de Alcântra</h2>
            <button class="list-container__btn">Editar cadastro</button>
            <button class="list-container__btn">Configurar horários</button>
        </div>
        <ul class="list-container__ul">
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
            <li>16/11/2020 às 07:00</li>
        </ul>
    </div>
</div>